node_modules

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.cache
emv/
env/
.vscode/
# Installer logs033160061900121116198211800080